*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-primario: #FF014A;
    --bg-secundario: rgb(161, 0, 46);
    --bg-terciario: white;
    --txt-primario: #fff;
    --arial: Arial, Helvetica, sans-serif;
    --transicion: all 0.3s ease;
    --sombra-chica: 0 0 10px rgba(0, 0, 0, 0.5);
    --sombra-grande: 0 0 20px rgba(0, 0, 0, 0.5);
    --gradiente-primario: linear-gradient(to bottom, #FF014A, #FF6F61);

}

body{
    max-height: 100vh;
    background-color: var(--bg-primario);
    /* background-color: #FF014A; */
    color: white;
    font-family: var(--arial);
}

.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    gap: 10px;
    color: var(--txt-primario);
}

.logo{
    height: 100px;
    width: 110px;
    margin: auto;
    /* mix-blend-mode: multiply; */
}

.logoBienvenida{
    height: 20vh;
    width: 80vw;
    filter:drop-shadow(var(--sombra-grande));
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 5em;
    gap: .5em;
}

.formLogin input[type="email"],
.formLogin input[type="password"]{
    width: 100%;
    height: 2.4em;
    padding: 0.5em;
    border-radius: .25em;
    border: none;
    background-color: var(--bg-terciario);
    color: black;
}

.formulario{
    width: 100%;
    height: 10vh;
    display: grid;
    flex-direction: space-between;
}

.formLogin .boton{
    width: 100%;
    height: 2.4em;
    padding: 0.5em;

    border-radius: .25em;
    border: none;

    background-color: var(--bg-secundario);
    color: var(--txt-primario);
    font-weight: bold;

    cursor: pointer;
    text-align: center;

}